<%- include('../header.ejs') %>

<section class="login-wrap mtb-40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="login-box">
                    <h1>DISPLAY DATA</h1>
                    <table class="table table-bordered">
                        <tr>
                            <th>SNo</th>
                            <th>id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                        <% var i=1 %>
                        <% data.forEach((item)=>{ %>    <!-- FOR EACH LOOP -->
                            <!-- console.log(item) -->
                            <tr>
                                <td><%= i++ %></td>
                                <td><%= item._id %></td>
                                <td><%= item.name %></td>
                                <td><%= item.email %></td>
                                <td>
                                    <a href="/curd/view/<%=item._id%>" class="btn btn-info">VIEW</a>
                                    <a href="/curd/edit/<%=item._id%>" class="btn btn-successs">EDIT</a>
                                    <a href="/curd/delete/<%=item._id%>" class="btn btn-danger">DELETE</a>
                                </td>
                            </tr>
                        <% }) %>
                    </table>
                </div>         
            </div>
        </div>
    </div>
</section>


<%- include('../footer.ejs') %>