<%- include("./header.ejs")  %>
<div class="album py-5 bg-light">
            
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% data.forEach((item)=>{ %>
      <div class="col">
        <div class="card shadow-sm">
          <!-- <img src="assets/images/img5.jpg" class="d-block w-100" alt="..."> -->
          <img src="/imageupload/<%= item.image %>" class="d-block w-100" alt="...">
         
          <div class="card-body">
              <h5 style="color: #ff5f5f ;">
                  <%= item.title %>
              </h5>
            <!-- <p class="card-text"> <%= item.createdAt.toLocaleDateString() %></p> -->
            <p class="card-text"> <%= item.description.slice(0, 90) %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                  <a href="/detail/<%= item._id %>" class="btn btn-secondary">Read more...</a>
              </div>
              <small class="text-muted"><%= item.createdAt.toLocaleDateString() %></small>
            </div>
          </div>
        </div>
      </div>
      <% })%>
    </div>
  </div>
</div>
<!-- <section class="blog-list mtb-40">
  <div class="container">
    <h1>Blogs</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img1.jpg" alt="blog1" />
          <h3>Sample blog post 1</h3>
          <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <a href="detail.html" class="btn btn-danger">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img2.jpg" alt="blog1" />
          <h3>Sample blog post 2</h3>
          <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <a href="detail.html" class="btn btn-danger">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img3.jpg" alt="blog1" />
          <h3>Sample blog post 3</h3>
          <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <a href="detail.html" class="btn btn-danger">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img4.jpg" alt="blog1" />
          <h3>Sample blog post 4</h3>
          <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <a href="detail.html" class="btn btn-danger">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img5.jpg" alt="blog1" />
          <h3>Sample blog post 5</h3>
          <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <a href="detail.html" class="btn btn-danger">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img6.jpg" alt="blog1" />
          <h3>Sample blog post 6</h3>
          <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <a href="detail.html" class="btn btn-danger">Read more...</a>
        </div>
      </div>
    </div>
  </div>
</section> -->
<%- include("./footer.ejs")  %>