<%- include('../../header.ejs') %>

    <section class="dashboard-wrap mtb-40">
        <div class="container">
            <div class="body-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="dash-left">
                            <ul>
                                <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                                <li><a href="/admin/createblog">Create Blogs</a></li>
                                <li><a href="/admin/displayblog">Blogs Display</a></li>
                                <li><a href="/admin/createcategory">Create Category</a></li>
                                <li><a href="/admin/categorydisplay"> Category Display</a></li>
                                <li><a href="/admin/contactdisplay">Contact</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="dash-right">
                            <div class="dash-header">
                                <div class="dash-title">
                                    <h1 class="text-danger">EDIT Contact</h1>
                                </div>
                            </div>
                            <div class="blog-form">
                                <form action="/admin/contactupdate/<%= data._id %>" method="post">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" placeholder="Name"
                                            value="<%= data.name %>">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="email" class="form-control" placeholder="E-Mail"
                                            value="<%= data.email %>">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="phone" class="form-control" placeholder="Phone"
                                            value="<%= data.phone %>">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="message" rows="5" class="form-control"
                                            placeholder="Message"><%= data.message %></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-success" type="submit">Update</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <%- include('../../footer.ejs') %>