<%- include('../../header.ejs') %>

<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                          <ul>
                            <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                            <li><a href="/admin/createblog">Create Blogs</a></li>
                            <li><a href="/admin/displayblog">Blogs Display</a></li>
                            <li><a href="/admin/createcategory">Create Category</a></li>
                            <li><a href="/admin/categorydisplay"> Category Display</a></li>
                            <li><a href="/admin/contactdisplay">Contact</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>   
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                            <div class="dash-title">
                                <h1 >VIEW BLOGS</h1>
                            </div>
                        </div>
                        <table class="table table-bordered">
                            <tr>
                              
                                <th>S.NO.</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Message</th>                      
                            </tr>
                            <% var i=1 %>
                            <!-- console.log(item) -->
                            <tr>
                                <td><%= i++ %></td>
                                <td><%= data.name %></td>
                                <td><%= data.email %></td>
                                <td><%= data.phone %></td>
                                <td><%= data.message %></td>
                            </tr>
                        </table>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../../footer.ejs') %>