<%- include('../../header.ejs') %>

<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                      <ul>
                        <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                        <li><a href="/admin/createblog">Create Blogs</a></li>
                        <li><a href="/admin/displayblog">Blogs Display</a></li>
                        <li><a href="/admin/createcategory">Create Category</a></li>
                        <li><a href="/admin/categorydisplay"> Category Display</a></li>
                        <li><a href="/admin/contactdisplay">Contact</a></li>
                        <li><a href="/about"> About</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                    </div>   
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                          <div class="dash-title">
                              <h1 class="text-danger">EDIT BLOGS</h1>
                          </div>
                        </div>
                        <div class="blog-form">
                          <form action="/admin/blogupdate/<%= data._id %>" method="post" enctype="multipart/form-data">
                            <div class="form-group form-row">
                                <label class="col-md-3">Title <span class="required">*</span></label>
                                <div class="col-md-9">
                                  <input name="title" type="text" class="form-control" placeholder="Title" required value="<%= data.title %>">
                                </div>
                            </div>
                            <div class="form-group form-row">
                              <label class="col-md-3">Upload Image</label>
                              <div class="col-md-9">
                                <input type="file" name="image" value="/imageupload/<%= data.image%>">
                                <img src="/imageupload/<%= data.image %>" alt="" width="75px" height="50px">
                              </div>
                            </div>
                            <div class="form-group form-row">
                                <label class="col-md-3">Description <span class="required">*</span></label>
                                <div class="col-md-9">
                                  <textarea name="description" rows="5" class="form-control" placeholder="Description" required><%= data.description %></textarea>
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <label class="col-md-3"></label>
                                <div class="col-md-9">
                                  <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                          </form>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../../footer.ejs') %>